footer {
  color: white;
  height: 397px;
  width: 1600px;
  background-image: url(./design-assets/bgk-footer.png);
  font-size: 1rem;
}
.foot {
  position: relative;
  left: 19%;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 50%;
  max-height: 50%;
  max-width: 20%;
  gap: 1rem;
  word-spacing: 0.2rem;
}
.foot p {
  text-align: left;
}
.footercontainer {
  display: flex;
  width: 100%;
  height: 100%;
}
.foot h4 {
  font-size: 2.5rem;
  color: aqua;
  font-weight: 0;
  margin: 10%;
  white-space: nowrap;
  padding-bottom: 0.5rem;
}
.foot h5 {
  margin: 10%;
  text-align: left;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}
.copy {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80%;
  right: 20%;
  font-size: 1rem;
  white-space: nowrap;
}
.help {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80%;
  right: 43%;
  gap: 1rem;
  justify-content: space-between;
  height: 2rem;
  white-space: nowrap;
}
.foot form textarea {
  font-size: 1rem;
  justify-content: center;
  background-color: transparent;
}
.foot form button {
  display: flex;
  height: 2rem;
  width: 2.7rem;
  background-color: rgba(175, 175, 175, 0.432);
  justify-content: center;
}
footer form {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.foot form button img {
  position: relative;
  align-self: center;
}
