

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --txt-color-one: #fff;
  --txt-color-two: darkgray;
}

body {
  max-width: 1600px;
}

/* sidhdhali anfang css */


/* ----------------------expertise------------------------- */

.expertise {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4em;
}

#heading {
  color: #403e4b;
  margin:  0.4em;
}

#para{
  color: #a0a0a0;
  margin:  0.4em;
}


hr {
  border-bottom: 1px solid grey;
  width: 4em;
  margin: 1em auto 0.5em auto;
}


.exp-grid ul{
  background-color: rgb(213, 209, 209);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1em;
  list-style: none;
}

.exp-grid ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:  1em;
  background-color: #fff;
}

.exp-grid ul li img{
  /* height: 3rem;
  width: 3rem; */
  margin: 1em ;
}

.exp-grid ul li h2 {
  color: #403e4b;
  font-size: 1em;
  margin: 1em;
}

.exp-grid ul li p{
  color: #a0a0a0;
}




/* ------------------Amazing-team---------------- */


.amazing-team{
    background-image: url("./design-assets/bgk-header.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;
  padding: 3em ;
}

#amazing-h{
  margin: 0.4em;
}

.amazing-p{
  border: 1px solid; 
  margin: 0.4em ;
}

/* hr {
  border-bottom: 1px solid grey;
  width: 50px;
  margin: 0.6em;
} */


.team-gallery ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 3em auto 0 auto;
}

.team-gallery li{
  text-align: center;
  border: 0.1em solid white;
  width: 210px;
  }

.team-gallery  img{
  width: 210px;
  height: 210px;
  }

.team-gallery li h3{
  margin: 0.5em auto 0 auto;
  font-size: 0.8em;
}

.team-gallery li p{
margin: 0.4em auto 1em auto;
font-size: 0.8em;
color: #adadad;
}

#amaz-p-bottom
  {
  margin: 4em auto 2em auto;
 
}

button{
  color:#67d8cb;
  border: 1px solid #67d8cb ;
  border-radius: 1px;
  height:40px;
  padding: 1em;
  text-align: center;
  justify-content: center;
  background-color: transparent;
}


/* -----------sidhdhali fertig css------------- */