* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --txt-color-one: #fff;
  --txt-color-two: darkgray;
}
body {
  max-width: 1600px;
  width: 1600px;
}
a {
  text-decoration: none;
}
header,
nav,
nav ul {
  display: flex;
  flex-direction: row;
}
